# OS / editors
.DS_Store
*.swp
*.swo

# Conda / build
.conda/
.env/
.venv/
.cache/
__pycache__/

# Data & outputs
data/
outputs/
ref/classifiers/
ref/dada2/
!ref/dada2/.gitkeep
!ref/classifiers/.gitkeep

# QIIME 2 visualizations (large)
*.qza
*.qzv
